@font-face {
    font-family: "Santio";
    src: url("../font/Santio\ regular.ttf");
/*  src: url("../font/Santio\ light.ttf");
    src: url("../font/Santio\ Inline.ttf");
    src: url("../font/Santio\ Boldline.ttf");
    src: url("../font/Santio\ Bold.ttf");
    src: url("../font/Santio\ Black.ttf"); */
/* ? ich bin mir sehr unsicher, ob das so funklionieren würde, wenn die gesamte Font Family in einem font-face ist. Deswegen noch mal alles einzeln*/
}
@font-face {
    font-family: "Santio Light";
    src: url("../font/Santio\ light.ttf");
}

@font-face {
    font-family: "Santio Inline";
    src: url("../font/Santio\ Inline.ttf");
}

@font-face {
    font-family:"Santio Boldline" ;
    src: url("../font/Santio\ Boldline.ttf");
}

@font-face {
    font-family: "Santio Bold";
    src: url("../font/Santio\ Bold.ttf");
}

@font-face {
    font-family: "Santio Black";
    src: url("../font/Santio\ Black.ttf"); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --primary-color: #333333;
    --secondary-color: #E7BC0E;
    --third-color: #6BC1A3;
    --fouth-color: #CB91B6;
    --last-color: #7EB8E1;
}

.paralax{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

section:nth-of-type(1) {    
    background-image: url(../img/cleo-topper.jpg);
    background-size:  100dvw;

}

section:nth-of-type(2){
    background-image: url(../img/see.png);
    background-size:  100dvw;
}

section:nth-of-type(3){
    background-color: black;
    color: white;
}

footer{
    background-color: black;
    color: white;
}

/* Ende style fürs gesammte html */

header{
    display: flex;

}

footer p a{
    color: #6BC1A3;
}