@font-face {
    font-family: "MrDafoe";
    src: url("../font/MrDafoe-Regular.ttf");
}

@font-face {
    font-family: "Santio";
    src: url("../font/Santio\ regular.ttf");
/*  src: url("../font/Santio\ light.ttf");
    src: url("../font/Santio\ Inline.ttf");
    src: url("../font/Santio\ Boldline.ttf");
    src: url("../font/Santio\ Bold.ttf");
    src: url("../font/Santio\ Black.ttf"); */
/* ? ich bin mir sehr unsicher, ob das so funklionieren würde, wenn die gesamte Font Family in einem font-face ist. Deswegen noch mal alles einzeln*/
}
@font-face {
    font-family: "Santio Light";
    src: url("../font/Santio\ light.ttf");
}

@font-face {
    font-family: "Santio Inline";
    src: url("../font/Santio\ Inline.ttf");
}

@font-face {
    font-family:"Santio Boldline" ;
    src: url("../font/Santio\ Boldline.ttf");
}

@font-face {
    font-family: "Santio Bold";
    src: url("../font/Santio\ Bold.ttf");
}

@font-face {
    font-family: "Santio Black";
    src: url("../font/Santio\ Black.ttf"); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --primary-color: #333333;
    --secondary-color: #E7BC0E;
    --third-color: #6BC1A3;
    --fouth-color: #CB91B6;
    --last-color: #7EB8E1;
}

html{
    color: white;
    font-weight: 300;
    font-family: "Santio";
    font-size: 25px;
    letter-spacing: 0.1dvh    
}

a{
    font-style: normal;
    color: white; 
}

.paralax{
    position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/cleo-topper.jpg);
}

h2{
    font-size: 3rem;
}

/* Ende style fürs gesamtes html */


section:nth-of-type(2){
    background-image: url(../img/see.png);
    background-size:  cover;
}

section:nth-of-type(3){
    background-color: black;
    color: white;
    height: 80vh;
}

header{
    background: transparent;
    padding: 5px 5%;
    font-weight: 500;
    display: flex;
    flex-direction: row ;
    justify-content: flex-end;
    align-content: center;
}

header>img{
    height: 20px ;
    width: 20px;
    margin: 0 2%;
}

li{
    text-decoration: underline #E7BC0E;
    font-size: 0.8rem;
}



.MrDafoe{
    font-family: "MrDafoe";
    color: #E7BC0E;
    font-size: 0.8rem;
}

b{
    background-color: #333333;
    letter-spacing: 0.5dvh;  
    color: white;  
}

article{
    height: 60vh;
}


.green_text p{
    color: #6BC1A3;
}

.green_text{

}

.workers{
    color: #E7BC0E;
}

.pay{
    color: #CB91B6;
}

.health{
    color: #6BC1A3;
    
}

.blue_text{
    color: #7EB8E1;
}

.icon{
    height: 80px;
    width: 80px;

}

.kids{
    width: 100%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 200;
}

footer p a{
    color: #6BC1A3;
}