@font-face {
    font-family: "MrDafoe";
    src: url("../font/MrDafoe-Regular.ttf");
}

@font-face {
    font-family: "Santio";
    src: url("../font/Santio\ regular.ttf");
/*  src: url("../font/Santio\ light.ttf");
    src: url("../font/Santio\ Inline.ttf");
    src: url("../font/Santio\ Boldline.ttf");
    src: url("../font/Santio\ Bold.ttf");
    src: url("../font/Santio\ Black.ttf"); */
/* ? ich bin mir sehr unsicher, ob das so funklionieren würde, wenn die gesamte Font Family in einem font-face ist. Deswegen noch mal alles einzeln*/
}
@font-face {
    font-family: "Santio Light";
    src: url("../font/Santio\ light.ttf");
}

@font-face {
    font-family: "Santio Inline";
    src: url("../font/Santio\ Inline.ttf");
}

@font-face {
    font-family:"Santio Boldline" ;
    src: url("../font/Santio\ Boldline.ttf");
}

@font-face {
    font-family: "Santio Bold";
    src: url("../font/Santio\ Bold.ttf");
}

@font-face {
    font-family: "Santio Black";
    src: url("../font/Santio\ Black.ttf"); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --primary-color: #333333;
    --secondary-color: #E7BC0E;
    --third-color: #6BC1A3;
    --fouth-color: #CB91B6;
    --last-color: #7EB8E1;
}

html{
    color: white;
    font-family: "Santio";
    font-size: 25px;
    letter-spacing: 0.5dvh    
}


.paralax{
    position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/cleo-topper.jpg);
}

/* Ende style fürs gesamtes html */


header{
    background: transparent;
    padding: 10px 6%;
    font-weight: 500;
    display: flex;
    flex-direction: row ;
    justify-content: flex-end;
    align-content: center;
}

header>img{
    height: 20px ;
    width: 20px;
    margin: 0 2%;
}

li{
    text-decoration: underline #E7BC0E;
    font-size: 0.8rem;
    list-style: none;
}

a{
    font-style: normal;
    color: white; 
}

section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 10%;
}

section:nth-of-type(2){
    background-image: url(../img/see.png);
    background-size:  cover;
}

article{
    height: 80vh;
    padding: 10%;
}

p{
    font-weight: 600;
}

h2{
    font-size: 3rem;
    max-width: 250px;
    margin-left: 10%;
    margin-bottom: 8%;
}

h3{
    font-size: 2.3rem;
    max-width: 35%;
}

b{
    background-color: #333333;
    letter-spacing: 0.2rem;  
    color: white;
/*     border: 2px solid #333333;  
 */}

 sub{
    font-family: "Santio";
    font-weight: 700;
    padding-left: 10px;
    padding-top: 5px;
 }

.start{
    height: 700px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.MrDafoe{
    font-family: "MrDafoe";
    color: #E7BC0E;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 10%;
}

.green_text{
    max-width: 40%;
    margin-left: 10%;
    margin-bottom: 100px;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #6BC1A3;
}

.bigger_text{
    font-size: 3.3rem;
    line-height: 3.5rem;
}

.big_text{
    font-size: 2.3rem;
    line-height: 2.5rem;
}

.workers{
    color: #E7BC0E;
    line-height: 1.2rem;
    max-width: 50%;
    margin-left: 15%;
}

.pay{
    color: #CB91B6;
    line-height: 1.2rem;
    max-width: 50%;
    margin-left: 15%;
}

.health{
    color: #6BC1A3;
    line-height: 1.2rem;
    max-width: 50%;
    margin-left: 15%;
}

.blue_text{
    font-size: 0.8rem;
    line-height: 1rem;
    color: #7EB8E1;
    max-width: 40%;
    margin-left: 15%;
}

.icon{
    height: 80px;
    width: 80px;
}

.kids{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.end{
    margin-left: 15%;
    line-height: 2.8rem;

}

section:nth-of-type(3){
    background-color: black;
    color: white;
    height: 600px;
    font-size: 2rem;
    border-top: 100px solid black;
}

button{
    height: 35px;
    width: 80px;
    color: white;
    border: 1px solid white;
    background-color: black;
    margin-top: 40px;
}

button:hover{
    box-shadow: white 5px 5px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.6rem;
    border: 20px solid black;
    padding-top: 10%;
}

footer p{
    font-weight: 100;
}

footer p a{
    color: #6BC1A3;
}